<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spinal Signup</title>
    <link rel="stylesheet" type="text/css" href="spinal.css">
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="spinal-test"> </script>
</head>
<body>
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="test-dashboard-basic" >subscribe</a><br>
<a href="javascript:void(0)" data-cb-type="portal" >Manage account</a>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      var cbInstance = Chargebee.getInstance();
      var planElement = document.querySelector("[data-cb-plan-id='test-dashboard-basic']");
      var product = cbInstance.getProduct(planElement);


      // adding subscription custom fields
      product.data["cf_project_name"] = "my project name";
    });
</script>
</body>
</html>
